/* Mobile */
#products {
  background-color: var(--color-light);
  padding-bottom: 10px;
}

.products-title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
  padding: 1em;
}

.product-container {
  margin: 0 auto 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 80%;
  height: 45rem;
  display: flex;
  flex-direction: column;
}

.product-img {
  height: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-info {
  height: 60%;
  color: var(--color-white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-family: var(--title-font);
  font-size: 1.9rem;
  font-weight: 300;
  text-align: center;
}

.product-description {
  font-size: 1.5rem;
  /* text-align: justify; */
  width: 90%;
  margin: 0 auto;
  word-spacing: 2px;
}

.product-presentation {
  font-size: 1.2rem;
  color: var(--color-light);
  width: 90%;
  margin: 0 auto;
}

.product-btn {
  background-color: transparent;
  padding: 1rem;
  margin: 0 auto;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.product-btn-light {
  border: 2px solid var(--color-light);
  color: var(--color-light);
}

.product-btn-dark {
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
}

.product-btn-light:hover {
  background-color: var(--color-light);
  border: 2px solid var(--color-black);
  color: var(--color-black);
  transition: background-color 0.3s;
}

.product-btn-dark:hover {
  background-color: var(--color-dark);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  transition: background-color 0.3s;
}

.img1 {
  background-image: url("./../img/Producto1.png");
}

.img2 {
  background-image: url("./../img/Producto2b.png");
  background-position: top;
}

.img3 {
  background-image: url("./../img/Producto3.png");
}

.featured {
  background-image: url("./../img/Producto4a.png");
}

.product-bg-dark {
  background-color: var(--color-dark);
}

.product-container .featured {
  border: 15px solid var(--color-light);
  border-bottom: none;
}

/* Desktop */
@media (min-width: 769px) {
  .product-container {
    height: 25rem;
    max-width: var(--max-width);
    flex-direction: row;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }

  /* .product-container {
    margin: 0 auto 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 80%;
    height: 35rem;
    display: flex;
    flex-direction: column;
  } */

  #products > article:nth-child(2) {
    margin-top: 20px;
  }

  #products > article:nth-child(5) {
    border: 1px solid var(--color-dark);
    border-top: none;
  }

  .product-title {
    font-size: 2.5rem;
  }

  .product-img {
    width: 50%;
    height: 100%;
  }

  .product-info {
    width: 50%;
    height: 100%;
    padding: 3.5rem;
  }

  /* Selecciono los elementos impares con la clase product-container */
  .product-container:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .product-container .featured {
    border: 20px solid var(--color-light);
  }
}
