/* Swiper */
.swiper {
  width: 80%;
  height: 500px;

  & .swiper-wrapper {
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

#recipe {
  padding: 20px 0;
  background-color: var(--color-dark);

  & .recipes-title {
    color: var(--color-white);
    font-family: var(--title-font);
    font-size: var(--title-size);
    text-align: center;
    margin: 1em 0;
  }
}

.card {
  height: 100%;

  & .card_image {
    height: 40%;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .card_content {
    & .card_title {
      font-family: var(--title-font);
      font-size: 1.2em;
      margin: 10px 0;
      padding: 10px;
    }

    & .card_text {
      padding: 0 20px;
      text-align: initial;
      font-size: 1.6rem;
    }

    & .card_btn_container {
      position: absolute;
      width: 99%;
      bottom: 30px;
    }
  }
}

.recipe-modal-container {
  border: 1px solid #a6e9e3;

  & .properties {
    padding: 0.5em 1.3em;
    font-size: 1.6em;
    border-bottom: 1px solid #a6e9e3;

    & .property {
      display: block;
      margin: 0 5px 0 0;
    }
  }

  & .title {
    font-size: 1.8em;
    line-height: 1.6;
    font-weight: 600;
    padding: 0 0.3em 0 0.1em;
    margin: 0.5em 1em 0.25em 1em;
    color: #333;
    display: block;
  }

  & .ingredients {
    border-bottom: 1px solid #a6e9e3;
    padding: 0 2em;
    font-size: 1.6em;
    columns: 1;
    /* column-gap: 20px; */

    & .column {
      /* margin-bottom: 1.5em; */

      & .ingredient {
        display: block;
      }

      & .ingredient.checked {
        text-decoration: line-through;
      }

      & .ingredient input[type="checkbox"]:checked + span {
        text-decoration: line-through;
      }
    }
  }

  & .instructions {
    font-size: 1.5em;

    padding: 1em 0.3em 0 0.1em;
    margin: 0.5em 1em 0.25em 1em;

    & li {
      margin-bottom: 0.8em;
      & span {
        font-weight: 600;
      }
    }
  }
}

/* Tablet o mas*/
@media (min-width: 668px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }

  .swiper-pagination {
    display: none;
  }

  #recipe {
    & .swiper {
      width: var(--max-width);
      margin: 0 auto;
    }
  }

  .recipe-modal-container {
    & .properties {
      & .property {
        display: inline-block;
        margin: 0 5px 0 0;
      }

      & .property:not(:first-child) {
        border-left: 1px solid #a6e9e3;
        padding: 0 0 0 7px;
      }
    }

    & .ingredients {
      columns: 2;
      column-gap: 20px;

      & .column {
        margin-bottom: 1.5em;
      }
    }
  }
}
